{{#unless user}}
<!-- Footer -->
<footer>

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">
        <div class="flex-center">

          <!-- Facebook -->
          <a href="/users/signin" class="blue-grey-text">
              
            &Aacute;rea de Usuario | 
          </a>
          <!-- Twitter -->
          <a href="https://www.occentus.net/legal/" class="blue-grey-text">
             &nbsp;Nota Legal | 
          </a>
          <!-- Google +-->
          <a href="https://www.occentus.net/contactar/" class="blue-grey-text">
            &nbsp;Contactar
          </a>
        </div>
      </div>
      <!-- Grid column -->

      <div class="col-md-12 footer-copyright text-center flex-center blue-grey-text">© 2019 Hora Cloud - Control horario inteligente
  </div>

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->

  <!-- Copyright -->

</footer>
<!-- Footer -->
{{/unless}}